<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="code.three"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:debuggable="true">
        <activity
            android:name="code.three.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="code.three.test1.Test1"
                android:label="@string/test1_label">
        </activity>

        <activity
                android:name="code.three.test2.Test2"
                android:label="@string/test2_label">
        </activity>

        <activity
            android:name="code.three.test3.Test3"
            android:label="@string/test3_label">
        </activity>

        <activity
                android:name="code.three.test4.Test4"
                android:label="@string/test4_label">
        </activity>

        <activity
                android:name="code.three.test5.Test5"
                android:label="@string/test5_label">
        </activity>

        <activity
                android:name="code.three.intent_test.IntentTest"
                android:label="@string/intent_label">

        </activity>

        <activity
                android:name="code.three.mail_text_test.MailTextTest"
                android:label="@string/mail_text_label">
        </activity>

        <activity
                android:name="code.three.activity_for_result.ResultTest"
                android:label="Activity_result">
        </activity>

        <activity
                android:label="Activity_result_sub"
                android:name="code.three.activity_for_result.SubTest">
        </activity>

        <activity android:name=".activity_for_result.MainTest"
                  android:label="Activity_result_main"></activity>

        <activity android:name="code.three.service_test.ServiceTest"
                  android:label="Service_Test"></activity>

        <activity android:name="code.three.service_test.StartTest"
                  android:label="ServictTestStart"></activity>

        <activity android:name="code.three.service_test.StopTest"
                  android:label="ServiceTestStop"></activity>

        <service android:enabled="true"
                 android:name="code.three.service_test.TestService"></service>

        <activity android:name="code.three.async_task_test.AsyncTaskTest"
                  android:label="AsyncTaskTest"></activity>

        <activity android:name="code.three.read_app_file_test.ReadAppFile"
                  android:label="ReadAppFile"></activity>

        <activity android:name="code.three.db.AdvancedSearchActivity"
                  android:label="DBSearch"></activity>

        <activity android:name="code.three.json.JsonTest"
                  android:label="Json"></activity>

        <activity android:name="code.three.contact.ContactFindActivity"
                  android:label="Contact"></activity>

        <activity android:name="code.three.contact.ContactMainActivity"
                  android:label="ContactFind"></activity>

        <activity android:name="code.three.contact.ContactUseRawActivity"
                  android:label="ContactRaw"></activity>

        <activity android:name="code.three.contact.ContactDataActivity"
                  android:label="ContactData"></activity>
    </application>

</manifest>
